@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
a
{
	color: #DD4F24;	
	text-decoration: none;
}

body
{
	background: #EFEFEF;
	color:  #4C4C4C;
	font-size: 16px;
	font-family:gandhi_sansregular;
	margin: 0;


}

header
{
  	background: #434343;
  	color: white;
  	padding: 0.5em;
  	margin: 0;
}

header h1, header figure
{
	display: inline-block; 
	vertical-align: top;
}

header #avatar
{
	float: right;
	margin: 1em 1em 0 0;
}

header h1
{
	font-size: 20px;
	font-weight: normal;
	margin: 1em 0 0 1em;
}
header #avatar figcaption 
{
	background: #22BCE0;
	display: inline-block; 
	float: right;
	height: 50px;
	padding: 0 2px;
	
}
header #avatar figcaption:before
{
	content: "\e001";
	font-family: icomoon;
	font-size: 0.7em;
}
header #avatar img
{
	float: left;
	width: 50px;
}

header #logo img
{
	width: 80px;
}

nav
{
	background: #878787;
	font-size: 0.9em
}

nav ul
{
	list-style: none;
	margin:0 0 0 0;
	padding:0;

}
nav ul li
{
	display: inline-block;
	vertical-align: top;
}

nav ul li a
{
	color: white;
	text-decoration: none;
	padding: 0.5em;
	display: block;

}

nav #flechita_nav
{
	float: left;
	margin-left: 0;
}



nav #flechita_nav:before
{
	content: "\e000";
	color: white;
	background: #22BCE0;
	font-family: icomoon;
	float: left;
	margin-left: 0;
	padding: 0.5em 0.5em;
	
}


nav #publicar_nav
{
	background: #DD4F24;
	float: right;
	margin-right: 0;
	padding-right: 0.8em;
	position: relative;
}
nav #publicar_nav:after
{
	color: rgba(255,255,255,0.5);
	content: "\e003";
	color: white;
	font-family: icomoon;
	font-size: 1.8em;
	position: absolute;
	right: 0;
	top: 0;
}	
nav #publicar_nav a
{
	display: inline-block;
	padding: 0.5em 2em 0.5em;
	font-style: normal;
	
}

#actividades
{

	float: right;
	margin-right: 2%;
	margin-top: 15em;
	width: 25%;


}




#bienvenida #mensaje
{
	color: #878787;
	margin: 
}



#bienvenida
{
	display: block;
	border-bottom: 1px solid #ccc;
	float: right;
	margin-right: 2%;
	width: 25%;
}
#bienvenida h2
{
	color:#434343;

}

#bienvenida #mensaje_subliminal,
#bienvenida #registro,
#bienvenida #actividad
{
	text-align: center;
}

#bienvenida #mensaje_subliminal
{
	color: #878787;
	font-size: 0.7em;
}
#bienvenida #registro, #bienvenida #actividad
{
	color: white;

}
#bienvenida #registro
{
	background: #22BCE0;
	padding: 0.5em 1em;
}
#bienvenida #actividad
{
	background:  #F45656;
	padding: 0.5em 5em ;
}

#bienvenida #numero
{	
	border-radius: 0.5em;
	background: #F45656; 
	color: white;
	padding: 0.5em; 
	float: left;
}

#iteml
{
	margin: 1em;
	width: 70%;
}
#iteml #itemloll
{
	background:white;
	border-bottom: 3px solid #22BCE0;
	height: 128px;
	margin-bottom: 3em;
	position: relative;
	text-decoration: none;
	width: 70%;


}

#itemlol #itemloll p
{
	color: #747474;
	font-size: 0.9em;
}
#itemlol #itemloll #datos_item
{
	text-align: right;

}
#itemlol #itemloll #datos_item #tag_item
{
	color: white;
	background:#22BCE0;
	border-radius: 0.5em;
	float: left; 
	padding: 0.2em 0.5em;
	text-decoration: none;



}
#itemlol #itemloll #datos_item #comentarios_item
{
	background: #878787;
	border-radius: 4px;
	color: white;
	margin: 0 0 0 2em;
	padding: 4px;
	text-decoration: none;

}
#itemlol #itemloll #datos_item #comentarios_item:after
{
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent;
	border-top: 5px solid #878787;
	content: "";
	left:10px;
	position: absolute;
	top: 100%;

}


#itemlol #itemloll #datos_item #guardar
{
	margin: 0.1em;
	text-decoration: none;
}


#itemlol #itemloll #datos_item #guardar:before
{
	color: #fd5;
	content: "\e004";
	font-family: icomoon;
}


#itemlol #itemloll #imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}

#itemlol #itemloll #imagen_item img
{
	width: 96px;
}

#itemlol #itemloll #titulo_item
{
	
	font-size: 1em;
	font-style: italic;
	padding: 0.5em 0.5em;

}

#itemlol #itemloll #titulo_item a
{	
	color: #444;
	text-decoration: none;
}


#itemlol #itemloll #votacion
{	
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	margin:3px 0 0 0;
	padding:0.5em 0; 
	position:absolute;
	text-align: center;
	top: 100%;
	width: 96px;



}
#itemlol #itemloll #votacion #down:after
#contenido #itemloll #votacion #up:after
{
	font-family: "icomoon";
	font-size: 3em;
	vertical-align: bottom;
}
#itemlol #itemloll #votacion #down:after
{	
	content: "\e001";
	color: red;
	font-family: icomoon;
}

#itemlol #itemloll #votacion #up:after
{	
	content: "\e002";
	color: green;
	font-family: icomoon;

}

#contenido
{
	margin: 1em;
}
#contenido .item
{
	background:white;
	border-bottom: 3px solid #22BCE0;
	height: 128px;
	
	margin-bottom: 3em;
	position: relative;
	text-decoration: none;
	width: 70%;


}

#contenido .item p
{
	color: #747474;
	font-size: 0.9em;
}
#contenido .item .datos_item
{
	text-align: right;

}
#contenido .item .datos_item .tag_item
{
	color: white;
	background:#22BCE0;
	border-radius: 0.5em;
	float: left; 

	padding: 0.2em 0.5em;
	text-decoration: none;



}
#contenido .item .datos_item .comentarios_item
{
	background: #878787;
	border-radius: 4px;
	color: white;
	margin: 0 0 0 2em;
	padding: 4px;
	text-decoration: none;

}
#contenido .item .datos_item .comentarios_item:after
{
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent;
	border-top: 5px solid #878787;
	content: "";
	left:10px;
	position: absolute;
	top: 100%;

}


#contenido .item .datos_item .guardar
{
	margin: 0.1em;
	text-decoration: none;
}


#contenido .item .datos_item .guardar:before
{
	color: #fd5;
	content: "\e004";
	font-family: icomoon;
}


#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}

#contenido .item .imagen_item img
{
	width: 96px;
}

#contenido .item .titulo_item
{
	
	font-size: 1em;
	font-style: italic;
	padding: 0.5em 0.5em;

}

#contenido .item .titulo_item a
{	
	color: #444;
	text-decoration: none;
}


#contenido .item .votacion
{	
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	margin:3px 0 0 0;
	padding:0.5em 0; 
	position:absolute;
	text-align: center;
	top: 100%;
	width: 96px;



}
#contenido .item .votacion .down:after
#contenido .item .votacion .up:after
{
	font-family: "icomoon";
	font-size: 3em;
	vertical-align: bottom;
}
#contenido .item .votacion .down:after
{	
	content: "\e001";
	color: red;
	font-family: icomoon;
}

#contenido .item .votacion .up:after
{	
	content: "\e002";
	color: green;
	font-family: icomoon;

}
#imagen 
{margin-bottom: 20em;
}
#imagen #imagenlol #imagen_body img
{
	float: left;
	
}
#imagen #imagenlol 
{	
	border-bottom: 3px solid #F45656;
	margin-bottom: 3em;
	position: absolute;
	width: 70%;



}


#imagen #imagenlol #figcaption
{
	float: left;
}
#imagen #imagenlol  #votacion
{	
	background:white;
	border-radius: 0 0 0.5em 0.5em;
	margin:3px 0 0 0;
	padding:0.5em 0; 
	position:absolute;
	text-align: center;
	top: 100%;
	width: 96px;



}
#imagen #imagenlol  #votacion #down:after
#imagen #imagenlol  #votacion #up:after
{
	font-family: "icomoon";
	font-size: 3em;
	vertical-align: bottom;
}
#imagen #imagenlol  #votacion #down:after
{	
	content: "\e001";
	color: red;
	font-family: icomoon;
}
#imagen #imagenlol  #votacion #up:after
{	
	content: "\e002";
	color: green;
	font-family: icomoon;
}
