body
{
	background: #EFEFEF;
	color:  #4C4C4C;
	font-size: 16px;
	font-family: arial;
	margin: 0;


}

header
{
  	background: #434343;
  	color: white;
  	padding: 0.5em;
  	margin: 0;
}

header #home 
{
	color: white;
	text-decoration: none;

}

header #boton
{	
	background: #22BCE0;
	display: inline-block;
 	margin: 1em 0 0 30em;
	padding: 0.5em 1em 0.5em 1em;
	vertical-align: bottom; 
}
header div
{
	background: #22BCE0;
	display: inline-block; 
	height: 2.1em;
	padding: 0 1em;
	vertical-align: bottom; 
}

header h1, header figure
{
	display: inline-block; 
	vertical-align: top;
}

header #avatar
{
	float: right;
	margin: 1em 1em 0 0;
}

header h1
{
	font-size: 20px;
	font-weight: normal;
	margin: 1em 0 0 1em;
}
header #avatar figcaption 
{
	background: #22BCE0;
	display: inline-block; 
	float: right;
	height: 50px;
	padding: 0 2px;
	
}
header #avatar img
{
	float: left;
	width: 50px;
}

header #logo img
{
	width: 80px;
}

#contenido .item .imagen_item img
{
	width: 96px;
}